{% extends 'single/single.twig' %}

{% set loc_adresa = post.get_field('adress') %}
{% set loc_coordonate = post.get_field('coordonate') %}

{% block content %}
	<h1>{{post.title}}</h1>
	{% if loc_coordonate %}
		<a href='http://www.google.com/maps/place/{{ loc_coordonate.lat }},{{ loc_coordonate.lng }}' target='_blank'>
			{{ loc_adresa }}
		</a>
	{% else %}
		{{ loc_adresa }}
	{% endif %}

	<div class=''>
		{{ post.content }}
	</div>

	{% if evenimente %}
	<h2>Evenimente la {{post.title}}</h2>
	{% for eveniment in evenimente %}
		{% 
			include 'tease/tease-eveniment.twig' with {
				'post': eveniment
			}
		%}
	{% endfor %}
	{% endif %}
{% endblock %}