{% extends 'single/single.twig' %}

{% block content %}
	<h1>{{post.title}}</h1>
	<img src="{{TimberImage(post.profile_image).src}}">
	<div>{{post.content}}</div>

	{% if evenimente %}
	<h2>Evenimentele artistului</h2>
	{% for eveniment in evenimente %}
		<h3><a href='{{eveniment.link}}'>{{eveniment.title}}</a></h3>
		<p>{{eveniment.content}}</p>
	{% endfor %}
	{% endif %}
{% endblock %}