{% extends 'single/single.twig' %}

{% set eveniment_artisti = post.get_field('artists') %}

{% block content %}

	{% if post.thumbnail %}
		<img src='{{TimberImage(post.thumbnail.src)}}'/>
	{% endif %}

	<h1>{{ post.title }}</h1>
	<div>
		{% for artist in eveniment_artisti %}
			{{ artist.title }}{% if not loop.last %}, {% endif %}
		{% endfor %}
	</div>
	<div> {{ post.get_field('categorie') }} </div>


	<div class='eveniment__meta'>
		<div class='eveniment__metaitem'>
			{% 
				include 'tease/tease-loc-compact.twig' with {
					'loc': post.get_field('loc')
				}
			%}
		</div>

		{% set pret_bilet = post.get_field('pret_bilet') %}
		{% set durata = post.get_field('durata') %}
		{% set limba = post.get_field('limba') %}

		{% if pret_bilet %}
		<div class='eveniment__metaitem'>
			{{__("Preț", "TDI")}}: {{ pret_bilet }}
		</div>
		{% endif %}

		{% if durata %}
		<div class='eveniment__metaitem'>
			{{__("Durată", "TDI")}}: {{ durata }}′
		</div>
		{% endif %}

		{% if limba %}
		<div class='eveniment__metaitem'>
			{{__("Limbă", "TDI")}}: {{ limba }}
		</div>
		{% endif %}
	</div>

	<div>
		{{ post.content }}
	</div>

	<div>
		{% for artist in eveniment_artisti %}
			{% 
				include 'tease/tease-artist.twig' with {
					'post': artist
				}
			%}
		{% endfor %}
	</div>

	<div class=''>
		{{ post.get_field('credits') }}
	</div>

	<h2>Calendar</h2>

	{% for instance in post.get_field('calendar') %}
		{% 
			include 'tease/tease-eveniment-instance.twig' with {
				'instance': instance
			}
		%}
	{% endfor %}

{% endblock %}