{% extends 'single/single.twig' %}

{% set eveniment_artisti = post.get_field('artists') %}

{% block content %}

	{% block editie_header %}
		{% include 'components/header-editie.twig' %}
	{% endblock %}

	<div class='eveniment__header'>

		{% if post.thumbnail %}
			<img src='{{TimberImage(post.thumbnail.src) | full_size }}'/>
		{% endif %}

		<h1 class='eveniment__title'>{{ post.title }}</h1>

		<div class='eveniment__byline'>
			<span class='eveniment__category'>{{ post.get_field('categorie') }}</span>
			<span class='eveniment__artists'>
				{% for artist in eveniment_artisti %}
					{{ artist.title }}{% if not loop.last %}, {% endif %}
				{% endfor %}
			</span>
		</div>
	</div>

	<div class='row'>
		<div class='col-md-4 push-md-8'>
			{% include 'components/eveniment-meta.twig' %}
		</div>

		<div class='col-md-8 pull-md-4'>

			<div class='eveniment__content'>
				{{ post.content }}
			</div>

			<div class='eveniment__credits'>
				{{ post.get_field('credits') }}
			</div>

			{% include 'components/eveniment-artists.twig' %}
			
		</div>
	</div>

	{% include 'components/pagination-eveniment.twig' %}

{% endblock %}