{% extends 'single/single.twig' %}

{% set loc_adresa = post.get_field('adress') %}
{% set loc_coordonate = post.get_field('coordonate') %}

{% block content %}

	<div class='post__header'>
		<h1>{{post.title}}</h1>

		<div class='post__byline'>
			<svg class='icon'>
				<use xlink:href='#icon-place'/>
			</svg>
			{% if loc_coordonate %}
				<a target='_blank' href='{{ gmaps(loc_coordonate) }}'>
					{{ loc_adresa }}
				</a>
			{% else %}
				{{ loc_adresa }}
			{% endif %}
		</div>
	</div>

	<div>
		{{ post.content }}
	</div>

	{% if evenimente_curente and evenimente_curente | length %}
		<h2 class='archive__sectiontitle'>{{__("În ediția curentă", "TDI")}}</h2>
		{% for row in evenimente_curente | batch(3) %}
			<div class='row row--spaced'>
			{% for eveniment in row %}
				<div class='col-sm-4'>
				{% 
					include 'tease/tease-eveniment.twig' with {
						'post': eveniment
					}
				%}
				</div>
			{% endfor %}
			</div>
		{% endfor %}
	{% endif %}

	{% if evenimente_trecute and evenimente_trecute | length %}
		<h2 class='archive__sectiontitle'>{{__("În ediții trecute", "TDI")}}</h2>
		{% for row in evenimente_trecute | batch(3) %}
			<div class='row row--spaced'>
			{% for eveniment in row %}
				<div class='col-sm-4'>
				{% 
					include 'tease/tease-eveniment.twig' with {
						'post': eveniment
					}
				%}
				</div>
			{% endfor %}
			</div>
		{% endfor %}
	{% endif %}

{% endblock %}