{% extends 'single/single.twig' %}

{% set loc_adresa = post.get_field('adress') %}
{% set loc_coordonate = post.get_field('coordonate') %}

{% block content %}

	<div class='post__header'>
		<h1>{{post.title}}</h1>

		<div class='post__byline'>
			{{__("Adresa", "TDI")}}: 
			{% if loc_coordonate %}
				<a target='_blank' href='{{ gmaps(loc_coordonate) }}'>
					{{ loc_adresa }}
				</a>
			{% else %}
				{{ loc_adresa }}
			{% endif %}
		</div>
	</div>

	<div>
		{{ post.content }}
	</div>

	{% if evenimente %}
		<h2>Evenimente</h2>
		{% for row in evenimente | batch(3) %}
			<div class='row row--spaced'>
			{% for eveniment in row %}
				<div class='col-sm-4'>
				{% 
					include 'tease/tease-eveniment.twig' with {
						'post': eveniment
					}
				%}
				</div>
			{% endfor %}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}