{% extends "tease/tease.twig" %}

{% block content %}
	<div class='tease tease--post'>
		
		<div class='tease__date'>{{ post.post_date | date("d—m—Y") }}</div>
		
		<a class='tease__thumb' href='{{post.link}}' title='{{ post.title }}'>
			{% if post.thumbnail %}
				<img src='{{post.thumbnail.src | tease_size }}' alt='{{ post.title }}'/>
			{% else %}
				<img src='{{ default_thumbnail }}' alt='{{ post.title }}'/>
			{% endif %}
		</a>


		<h2 class='tease__title'>
			<a href="{{post.link}}">{{post.title}}</a>
		</h2>
		
		<div class='tease__excerpt'>
			{{ post.get_preview(50) }}
		</div>

	</div>
{% endblock %}