<div class='tease-eveniment'>

	{% if not exclude_category %}

	<div class='tease-eveniment__category' title="{{ post.get_field('categorie')}}">
		{{ post.get_field('categorie') | default('&nbsp;') }}
	</div>

	{% endif %}

	<a href='{{post.link}}' title='{{ post.title }}' class='tease-eveniment__thumb'>
		{% if post.thumbnail %}
			<img src='{{post.thumbnail.src | tease_size }}' alt='{{ post.title }}'/>
		{% else %}
			<img src='{{ default_thumbnail }}' alt='{{ post.title }}'/>
		{% endif %}
	</a>

	<h2 class='tease-eveniment__title'>
		<a href='{{post.link}}'>{{ post.title }}</a>
	</h2>

	{% if not exclude_loc %}

	<div class='tease-eveniment__loc'>
		{% if not loc %}
			{% set loc = post.get_field('loc') %}
		{% endif %}
		
		<h4 class='tease-loc__title'><a href='{{loc.link}}'>{{ loc.title }}</a></h4>
	</div>

	{% endif %}

	<div class='tease-eveniment__desc'>
		{{ post.excerpt }}
	</div>
</div>