<div class='tease-eveniment-instance'>
	<div class='evenimentinstance__datetime'>
		<span class='evenimentinstance__date'>
			{% if instance.data_inceput == instance.data_sfarsit %}
				{{ instance.data_inceput | date("l d/m/Y") }}
			{% else %}
				{{ instance.data_inceput | date("l d/m/Y") }} → {{ instance.data_sfarsit | date("l d/m/Y") }}
			{% endif %}
		</span> {{__("de la", "TDI")}} <span class='evenimentinstance__time'>
			{{ instance.ora_inceput | date("H:i") }} {{__("la", "TDI")}} {{ instance.ora_sfarsit | date("H:i") }}
		</span>
	</div>

	{% if editie_curenta and instance.biletmaster %}
		<div class='evenimentinstance__tickets'>
			<a href='{{instance.biletmaster}}' target='_blank'>{{__("Cumpără bilete", "TDI")}}</a>
		</div>
	{% endif %}
</div>