<div class='tease-eveniment'>
	
	<a href='{{post.link}}' title='{{ post.title }}' class='tease-eveniment__thumb'>
		{% if post.thumbnail %}
			<img src='{{post.thumbnail.src | tease_size }}' alt='{{ post.title }}'>
		{% else %}
			<img src='{{ default_thumbnail }}' alt='{{ post.title }}'/>
		{% endif %}
	</a>
	
	<div class='tease-eveniment__category'><span>{{ post.get_field('categorie') }}</span></div>
	<h2><a href='{{post.link}}'>{{ post.title }}</a></h2>
	{% if not loc %}
		{% set loc = post.get_field('loc') %}
	{% endif %}
	{% 
		include 'tease/tease-loc-compact.twig' with {
			'loc': loc,
			'hide_address': true
		}
	%}
	<p>{{ post.excerpt }}</p>
</div>