{% if editie %}
	<header class='header header--editie hidden-md-down'>
		<div class='header__inner'>
			<h1><a href='{{editie.link}}'>{{editie.title}}</a> <span class='editie__tagline'>{{editie.tagline}}</span></h1>
			{% if editie_menu %}
				<nav class='header__nav header__nav--secondary'>
				{% 
					include 'components/menu.twig' with {
						'menu': editie_menu.get_items
					}
				%}
				</nav>
			{% endif %}
		</div>
	</header>

	{% include 'components/mobile/header-editie.twig' %}

	{% set editie_colors = editie.get_field('colors') %}
	{% set duotone_filter_id = "edition_duotone" %}

	<style type='text/css'>
		{% 
			include 'stylesheet/edition.css.twig' with {
				'colors': editie_colors,
				"duotone_filter_id": duotone_filter_id
			}
		%}
	</style>


	{{ enqueue_script('duotone') }}
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			new Duotone(
				"{{ editie_colors.accent_secundar }}", 
				"{{ editie_colors.accent_primar }}",
				"{{ duotone_filter_id }}"
			);
		});
	</script>
{% endif %}